<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>

    <head th:replace="/fragments/head :: head"></head>
    <body>

        <nav th:replace="/fragments/navBar :: nav"></nav>



        <div th:if="${error != null}" class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">Error</div>
            <div class="card-body">
                <h5 class="card-title">Error Fatal</h5>
                <p class="card-text" th:text="${error}" ></p>  
            </div>
        </div>

        <br>
        <main>
            <section>
                <article>

                    <h4 th:if="${session.usuariosession != null}" th:text="'Hola, Bienvenido nuevamente ' + ${session.usuariosession.nombre}"></h4>
                    <!-- Corregir la URL de la imagen -->
                    <div class="foto-perfil">
                        <img th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" alt="foto-perfil">
                        
                    </div>
                    <p>lorem ipsum fragati losesar</p>

                    <!--si un usuario esta no esta logeado-->
                    <div class="card-body">   
                        <a th:href="@{/noticia/lista}" class="btn btn-primary">Ver noticias</a>
                    </div>
                    <div class="card-body">   
                        <a th:href="@{/login}" class="btn btn-primary" th:if="${session.usuariosession == null}" >Ingresar</a>
                    </div>
                    <div class="card-body">   
                        <a th:href="@{/registrar}" class="btn btn-primary" th:if="${session.usuariosession == null}">Registrarme</a>
                    </div>
                </article>
            </section>

        </main>

        <!--   <div th:if="${error == null}" class="card text-white bg-success mb-3"  style="width: 100vw;">
          <div class="card-header">Exito</div>
          <div class="card-body">
            <h5 class="card-title">Exito Al Iniciar Sersión</h5>
            <p class="card-text" th:text="${exito}" ></p>
          </div>
        </div>-->
        <footer>
            <p>&copy; 2023 Mi Empresa. Todos los derechos reservados.</p>
        </footer>  


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>
